<%= render 'flow_base' %>

<div class="flex flex-col justify-start h-screen">
  <h2 class="text-3xl mb-6">Login</h2>
  <% if @flow %>
    <%= render Flows::FlowComponent.new do |flow| %>
      <% flow.with_group(@flow, filter_out: "oidc", submit: @submit_path) %>
      <% flow.with_divider %>
      <% flow.with_group(@flow, filter_only: "oidc", submit: @submit_path) %>
    <% end %>
  <% end %>
</div>