<%= render 'flow_base' %>

<div class="flex flex-col justify-start h-screen">
  <h2 class="text-3xl mb-6">Registration</h2>
  <% if @flow %>
    <%= render Flows::FlowComponent.new(flow: @flow, submit_path: @submit_path) do |flow| %>
      <% flow.with_group(filter_out: %w[oidc passkey code]) %>
      <% flow.with_divider(show_condition: flow.has_groups("passkey")) %>
      <% flow.with_group(filter_only: "passkey") %>
      <% flow.with_divider(show_condition: flow.has_groups("oidc")) %>
      <% flow.with_group(filter_only: "oidc", classes: OIDC_CLASSES) %>
      <% flow.with_divider(show_condition: flow.has_groups("code")) %>
      <% flow.with_group(filter_only: "code") %>
      <% flow.with_divider(show_condition: flow.has_back_node?, only_line: true) %>
      <% flow.with_back %>
    <% end %>
  <% end %>
</div>
