<h2>
  Registration
</h2>

<% if @nodes %>
  <%= form_with url: registration_path, method: :post do || %>
    <input type="hidden" name="action_url" id="action_url" value="<%= @submit_url %>">
    <% @nodes.each do |node| %>
      <% if node["attributes"]["node_type"] == "input" %>
        <%= get_input_node(node) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
